body {
  margin-top: 10%;
  text-align: center;
  background-image: url("../images/crystal_ball.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
  ;
}
